.main_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.right {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
}

.r_t {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.r_t h1 {
  text-align: center;
  font-size: 4.4rem;
  margin-bottom: 2.4rem;
}

.r_t p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
}

.r_d {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.r_d h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1.4rem;
}

.form input {
  padding: 9px 9px;
  outline-offset: 3px;
  outline-color: #73bc44;
  border: none;
  border-radius: 2rem;
  background-color: #e6f3dd;
}

.form button {
  border: none;
  padding: 9px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 550;
  font-size: 1.6rem;
  border-radius: 2rem;
  cursor: pointer;
}

.img_container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
